<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CloudFormation" version="3.3.13.6" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.3.30.2" targetFramework="net461" />
  <package id="AWSSDK.EC2" version="3.3.78.2" targetFramework="net461" />
  <package id="AWSSDK.Lambda" version="3.3.19.6" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.31.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
</packages>