<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.ACMPCA" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.AlexaForBusiness" version="3.3.104.2" targetFramework="net45" />
  <package id="AWSSDK.Amplify" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.APIGateway" version="3.3.101.1" targetFramework="net45" />
  <package id="AWSSDK.ApiGatewayManagementApi" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.ApplicationAutoScaling" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.ApplicationDiscoveryService" version="3.3.101.17" targetFramework="net45" />
  <package id="AWSSDK.AppMesh" version="3.3.101.22" targetFramework="net45" />
  <package id="AWSSDK.AppStream" version="3.3.101.4" targetFramework="net45" />
  <package id="AWSSDK.AppSync" version="3.3.101.8" targetFramework="net45" />
  <package id="AWSSDK.Athena" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.AutoScaling" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.AutoScalingPlans" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.AWSHealth" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.AWSMarketplaceCommerceAnalytics" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.AWSMarketplaceMetering" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.AWSSupport" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Backup" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Batch" version="3.3.101.20" targetFramework="net45" />
  <package id="AWSSDK.Budgets" version="3.3.101.1" targetFramework="net45" />
  <package id="AWSSDK.CertificateManager" version="3.3.100.25" targetFramework="net45" />
  <package id="AWSSDK.Chime" version="3.3.101.6" targetFramework="net45" />
  <package id="AWSSDK.Cloud9" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.CloudDirectory" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.CloudFormation" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.CloudFront" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.CloudHSM" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.CloudHSMV2" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.CloudSearch" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.CloudSearchDomain" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.CloudTrail" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.CloudWatch" version="3.3.101.21" targetFramework="net45" />
  <package id="AWSSDK.CloudWatchEvents" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.CloudWatchLogs" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.CodeBuild" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.CodeCommit" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.CodeDeploy" version="3.3.101" targetFramework="net45" />
  <package id="AWSSDK.CodePipeline" version="3.3.102.5" targetFramework="net45" />
  <package id="AWSSDK.CodeStar" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.CognitoIdentity" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.3.102.9" targetFramework="net45" />
  <package id="AWSSDK.CognitoSync" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Comprehend" version="3.3.104.6" targetFramework="net45" />
  <package id="AWSSDK.ComprehendMedical" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.ConfigService" version="3.3.100.25" targetFramework="net45" />
  <package id="AWSSDK.Connect" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Core" version="3.3.101.15" targetFramework="net45" />
  <package id="AWSSDK.CostAndUsageReport" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.CostExplorer" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.DatabaseMigrationService" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.DataPipeline" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.DataSync" version="3.3.102.2" targetFramework="net45" />
  <package id="AWSSDK.DAX" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.DeviceFarm" version="3.3.101.1" targetFramework="net45" />
  <package id="AWSSDK.DirectConnect" version="3.3.102.11" targetFramework="net45" />
  <package id="AWSSDK.DirectoryService" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.DLM" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.DocDB" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.101.14" targetFramework="net45" />
  <package id="AWSSDK.EC2" version="3.3.110" targetFramework="net45" />
  <package id="AWSSDK.ECR" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.ECS" version="3.3.102.11" targetFramework="net45" />
  <package id="AWSSDK.EKS" version="3.3.101.20" targetFramework="net45" />
  <package id="AWSSDK.ElastiCache" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.ElasticBeanstalk" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.ElasticFileSystem" version="3.3.101.1" targetFramework="net45" />
  <package id="AWSSDK.ElasticLoadBalancing" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.ElasticLoadBalancingV2" version="3.3.101.22" targetFramework="net45" />
  <package id="AWSSDK.ElasticMapReduce" version="3.3.101.21" targetFramework="net45" />
  <package id="AWSSDK.Elasticsearch" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.ElasticTranscoder" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Extensions.CognitoAuthentication" version="0.9.4" targetFramework="net45" />
  <package id="AWSSDK.FMS" version="3.3.101.23" targetFramework="net45" />
  <package id="AWSSDK.FSx" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.GameLift" version="3.3.101.14" targetFramework="net45" />
  <package id="AWSSDK.Glacier" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.GlobalAccelerator" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Glue" version="3.3.103.6" targetFramework="net45" />
  <package id="AWSSDK.Greengrass" version="3.3.101.21" targetFramework="net45" />
  <package id="AWSSDK.GuardDuty" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.IdentityManagement" version="3.3.101.14" targetFramework="net45" />
  <package id="AWSSDK.ImportExport" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Inspector" version="3.3.101.14" targetFramework="net45" />
  <package id="AWSSDK.IoT" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.IoT1ClickDevicesService" version="3.3.101.24" targetFramework="net45" />
  <package id="AWSSDK.IoT1ClickProjects" version="3.3.101.23" targetFramework="net45" />
  <package id="AWSSDK.IoTAnalytics" version="3.3.102.6" targetFramework="net45" />
  <package id="AWSSDK.IotData" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.IoTJobsDataPlane" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Kafka" version="3.3.102.3" targetFramework="net45" />
  <package id="AWSSDK.KeyManagementService" version="3.3.101.10" targetFramework="net45" />
  <package id="AWSSDK.Kinesis" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.KinesisAnalytics" version="3.3.101.7" targetFramework="net45" />
  <package id="AWSSDK.KinesisAnalyticsV2" version="3.3.101.7" targetFramework="net45" />
  <package id="AWSSDK.KinesisFirehose" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.KinesisVideo" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.KinesisVideoArchivedMedia" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.KinesisVideoMedia" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Lambda" version="3.3.102.6" targetFramework="net45" />
  <package id="AWSSDK.Lex" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.LexModelBuildingService" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.LicenseManager" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Lightsail" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.MachineLearning" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Macie" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.MarketplaceEntitlementService" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.MediaConnect" version="3.3.101.16" targetFramework="net45" />
  <package id="AWSSDK.MediaConvert" version="3.3.103.9" targetFramework="net45" />
  <package id="AWSSDK.MediaLive" version="3.3.103.9" targetFramework="net45" />
  <package id="AWSSDK.MediaPackage" version="3.3.101.5" targetFramework="net45" />
  <package id="AWSSDK.MediaStore" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.MediaStoreData" version="3.3.101" targetFramework="net45" />
  <package id="AWSSDK.MediaTailor" version="3.3.101.16" targetFramework="net45" />
  <package id="AWSSDK.MigrationHub" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Mobile" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.MobileAnalytics" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.MQ" version="3.3.101.18" targetFramework="net45" />
  <package id="AWSSDK.MTurk" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Neptune" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.OpsWorks" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.OpsWorksCM" version="3.3.100.25" targetFramework="net45" />
  <package id="AWSSDK.Organizations" version="3.3.101.17" targetFramework="net45" />
  <package id="AWSSDK.PI" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Pinpoint" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.PinpointEmail" version="3.3.101.22" targetFramework="net45" />
  <package id="AWSSDK.PinpointSMSVoice" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Polly" version="3.3.101.18" targetFramework="net45" />
  <package id="AWSSDK.Pricing" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.QuickSight" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.RAM" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.RDS" version="3.3.102.16" targetFramework="net45" />
  <package id="AWSSDK.RDSDataService" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Redshift" version="3.3.101.18" targetFramework="net45" />
  <package id="AWSSDK.Rekognition" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.ResourceGroups" version="3.3.101.17" targetFramework="net45" />
  <package id="AWSSDK.ResourceGroupsTaggingAPI" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.RoboMaker" version="3.3.101.23" targetFramework="net45" />
  <package id="AWSSDK.Route53" version="3.3.101.16" targetFramework="net45" />
  <package id="AWSSDK.Route53Domains" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Route53Resolver" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.S3" version="3.3.102.5" targetFramework="net45" />
  <package id="AWSSDK.S3Control" version="3.3.101.11" targetFramework="net45" />
  <package id="AWSSDK.SageMaker" version="3.3.101.7" targetFramework="net45" />
  <package id="AWSSDK.SageMakerRuntime" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.SecretsManager" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.SecurityHub" version="3.3.101.21" targetFramework="net45" />
  <package id="AWSSDK.SecurityToken" version="3.3.101.6" targetFramework="net45" />
  <package id="AWSSDK.ServerlessApplicationRepository" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.ServerMigrationService" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.ServiceCatalog" version="3.3.104.1" targetFramework="net45" />
  <package id="AWSSDK.ServiceDiscovery" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Shield" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Signer" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.SimpleDB" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.SimpleEmail" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.SimpleNotificationService" version="3.3.101.13" targetFramework="net45" />
  <package id="AWSSDK.SimpleSystemsManagement" version="3.3.102.8" targetFramework="net45" />
  <package id="AWSSDK.SimpleWorkflow" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.Snowball" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.SQS" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.StepFunctions" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.StorageGateway" version="3.3.105.6" targetFramework="net45" />
  <package id="AWSSDK.TranscribeService" version="3.3.104.5" targetFramework="net45" />
  <package id="AWSSDK.Transfer" version="3.3.102.12" targetFramework="net45" />
  <package id="AWSSDK.Translate" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.WAF" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.WAFRegional" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.WorkDocs" version="3.3.100.24" targetFramework="net45" />
  <package id="AWSSDK.WorkLink" version="3.3.102.1" targetFramework="net45" />
  <package id="AWSSDK.WorkMail" version="3.3.101.9" targetFramework="net45" />
  <package id="AWSSDK.WorkSpaces" version="3.3.102.17" targetFramework="net45" />
  <package id="AWSSDK.XRay" version="3.3.101.11" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.110.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.110.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.110.0" targetFramework="net45" />
</packages>