<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.101.15" targetFramework="net45" />
  <package id="AWSSDK.SecurityToken" version="3.3.101.6" targetFramework="net45" />
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
</packages>